@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo : 'Passion One', cursiva; 
    --fonte-conteudo:'Sriracha', cursiva;
}
html ,body{
    background-color: darkgray;
    font-family: var(--fonte-padrao);
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;

    text-align: center;
    padding-bottom: 50px;
    font-size: 4.5vw;
}
header  a{
    text-decoration: none;
    color: white;
} 
header a:hover {
    text-decoration: underline;

}
header h1 {
    font-family: var(--fonte-titulo);
    font-weight: lighter;
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 4em;
}
header p {
    padding-bottom: 50px;
    font-size: 1em;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-conteudo);
    font-size: 3.5vw;
}
section p {
    padding-bottom: 40px;
}
section.imagen{
    box-shadow: inset 6px 6px 13px 0px  rgba(0, 0, 0, 0.459);
    background-color: lightgray;
    color: white;
    background-attachment: fixed;
}
section.imagen > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.096);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    

}
section.normal{
    background-color: white;
    color: black;

}
section#img01{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url("../imagens/background002.jpg");
    background-size: cover;
}

